<div class="h-12 border-2 bg-main items-center p-2"> 
<%= link_to :back do%>
<i class="fa-solid fa-arrow-left text-white text-3xl"></i>
<%end%>
<h2>Log In</h2>
<%= f.submit 'Log In'%>
</div>

<%# importmap pin  @fortawesome/fontawesome-free %>