<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3 footer fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
    © Copyright:
    <a class="text-dark" href="https://www.linkedin.com/in/abraha-kahsay-492771135/">Abraha</a>
  </div>
</footer>