<div id="home-cont">
  <div class="jumbotron text-center">
    <div class="text-cont">
      <div><h1 class='display-4 text'>Budget App</h1></div>
      <div><h3 class='lead'>Welcome to Our Page!</h3></div>
      <div><h4>Save Your Money, Enjoy Life!</h4></div>
      <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: 'delete' },  class: "btn btn-primary btn-sm"%>
      <%else%>
      <%= link_to "Sign up!", new_user_registration_path,  class: "btn btn-success btn-sm"%> <%= link_to "Sign in",user_session_path,  class: "btn btn-primary btn-sm"%>
      <%end%>
    </div>
  </div>
</div>