<nav>
  <h1>List of All Categories</h1>
</nav>

<div class="categories">
   <% @categories.each do |category| %>
          <%=link_to category_expenses_path(category_id: category.id), class: 'category-link' do %>
            <div class="group_container">
              <div><span class="iconify" data-icon="<%= category.icon %>" data-width="80" data-height="65"></span></div>
              <div class="name"><%= category.name%></div>
              <div class="total"><p>$0</p></div>
            </div>
          <% end %>
        <br>
        <br>
    <% end %>
</div>
<%= button_to "New Category", new_category_path, method: :get, class: 'form-submit' %>